#digital-candle {
  position: fixed;
  bottom: 20px;
  right: 20px;          /* 👈 bottom-right corner */
  z-index: 999999;

  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: auto; /* non-intrusive */
  
  transform: scale(0.7);   /* 🔥 resize candle */
  transform-origin: bottom right;
}

#candle-body {
  width: 26px;
  height: 65px;
  background-color: #dfc7c7;
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#flame {
  margin-bottom: -10px;
}
